.Slideshow {
  margin-bottom: 70px;
  position: relative;
  width: 100%;
}

/* shadow */
.Slideshow:after {
  background: linear-gradient(
    to left,
    rgba(15, 15, 15, 1) 10%,
    rgba(15, 15, 15, 0.9) 30%,
    rgba(15, 15, 15, 0.3) 80%,
    rgba(15, 15, 15, 0)
  );
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: -30px;
  width: 220px;
}

@media (max-width: 768px) {
  .Slideshow:after {
    width: auto;
  }

  .Slideshow .dcl.header-menu {
    padding-left: 20px;
  }

  .Slideshow .nfts {
    padding-left: 20px;
  }
}

.Slideshow .nfts {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  position: relative;
  min-height: 336px;
}

.Slideshow .nfts .NFTCard,
.Slideshow .nfts .ui.card.NFTCard:first-child {
  flex: 0 0 auto;
  width: 220px;
  margin-right: 20px;
  height: 280px;
  margin-top: 12px;
}

.Slideshow .dcl.header-menu {
  margin-bottom: 12px;
}

.Slideshow i.caret {
  background-image: url(../../../images/forward.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 13px;
  margin-left: 4px;
}

.Slideshow .ui.button.basic {
  display: flex;
  align-items: center;
}

.Slideshow .ui.button.basic,
.Slideshow .ui.button.basic:hover {
  color: var(--text) !important;
}

.Slideshow .header-menu-right {
  z-index: 1;
}
